.verification {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  box-sizing: border-box;

  .input {
    width: 35px;
    margin-right: 5px;

    & :global {
      .el-input__inner {
        text-align: center;
        font-size: 16px;
        //caret-color: transparent;
      }
    }
  }
}
