@import "../../../src/common/style/common";

@keyframes t {
  from {
    border-color: #4569d4
  }
  to {
    border-color: #bfcbd9
  }
}

.verification {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;

  .input {
    float: left;
    white-space: nowrap;
    width: 35px;
    margin-right: 5px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #747d84;
    caret-color: transparent;
    border: 1px solid #bfcbd9;
    outline: none;
    height: 35px;
    border-radius: 3px;
    transition: @primary-transition;
    box-sizing: border-box;

    &:focus {
      animation: t 0.5s infinite alternate;
    }

    &:hover {
      border-color: #6e91c4
    }
  }
}
