@import "src/common/style/common";

.navigation {
  position: sticky;
  min-width: 200px;
  box-sizing: border-box;
  height: auto;

  .menus {
    position: fixed;
    min-width: 200px;
    height: 100%;
    //background-color: @primary-bg-color;
    background-color: #8193a3;
  }
  .point{
    position: absolute;
    width: 30px;
    height: 80px;
    border: 1px solid #000;
    right: 0;
    bottom: 50%;
    z-index: 1000;
  }
}
