@import "../../../src/common/style/common";

.navigation {
  position: sticky;
  box-sizing: border-box;
  height: auto;
  width: 220px;

  .pointContainer {
    position: fixed;
    height: 100%;
    background-color: #FFF;
    box-shadow: 1px 0 1px 0 rgba(99, 125, 142, 0.3);
    top: 0;

    .point {
      position: absolute;
      width: 20px;
      height: 40px;
      top: 50%;
      z-index: 1000;
      cursor: pointer;
      background-color: rgba(129, 147, 163, 0);
      display: flex;
      align-items: center;
      margin-top: 10px;

      &:hover {
        background-color: rgba(129, 147, 163, 0.2);
        color: #ebebeb;
      }
    }

  }

  .menus {
    position: sticky;
    height: 100%;
    z-index: 2;
    right: 0;

    .groups {
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      right: 0;

      .group {
        padding: 20px 0 20px 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        span {
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: inline-block;
          transition: @primary-transition;
        }

        .level1 {
          margin-bottom: 10px;
          padding-left: 5px;
          box-sizing: border-box;
          font-size: 11px;
          color: #999999;

          .group2 {
            padding-left: 10px;
            .level2 {
              font-size: 13px;
              color: #5e6d82;
              font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
              cursor: pointer;
              margin-bottom: 5px;

              .active {
                transition: @primary-transition;
                font-size: 14px;
                padding: 5px 0;
                color: #4569d4;
              }

              &:hover {
                color: #444f5e;
              }
            }
          }
        }
      }
    }
  }
}

.open, .menus, .close, .point, .pointContainer {
  transition: @primary-transition;
}


.open {
  width: 200px;
  margin-right: 20px;

  .menus {
    width: 200px;
  }

  .pointContainer {
    width: 220px;
  }

  .point {
    right: 0;
    border-radius: 80px 0 0 80px;
    color: #c9c9c9;
  }
}

.close {
  width: 0;

  .menus {
    width: 0;
  }

  .pointContainer {
    width: 0;
  }

  .point {
    right: -20px;
    border-radius: 0 80px 80px 0;
    background-color: rgba(129, 147, 163, 0.4);
    color: #ebebeb;
    box-shadow: 1px 0 4px 0 rgba(99, 125, 142, 0.3);


    &:hover {
      background-color: rgba(129, 147, 163, 0.7);
    }
  }
}
