@import "../../../src/common/style/common";

.navigation {
  position: sticky;
  box-sizing: border-box;
  height: auto;
  width: 200px;

  .menus {
    position: fixed;
    height: 100%;
    background-color: @primary-bg-color;
    box-shadow: 1px 0 4px 0 rgba(99, 125, 142, 0.3);
  }

  .point {
    position: absolute;
    width: 20px;
    height: 40px;
    bottom: 50%;
    z-index: 1000;
    cursor: pointer;
    background-color: rgba(129, 147, 163, 0);
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgba(129, 147, 163, 0.2);
      color: #ebebeb;
    }
  }
}

.open, .menus, .close, .point {
  transition: @primary-transition;
}


.open {
  width: 200px;

  .menus {
    width: 200px;
  }

  .point {
    right: 0;
    border-radius: 80px 0 0 80px;
    color: #c9c9c9;
  }
}

.close {
  width: 0;

  .menus {
    width: 0;
  }

  .point {
    right: -20px;
    border-radius: 0 80px 80px 0;
    background-color: rgba(129, 147, 163, 0.4);
    color: #ebebeb;
    box-shadow: 1px 0 4px 0 rgba(99, 125, 142, 0.3);


    &:hover {
      background-color: rgba(129, 147, 163, 0.7);
    }
  }
}
