@import "../../../../src/common/style/common";

.imageCropper {

  .image {
    width: 150px;
    margin-bottom: 10px;
    height: 195px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: #7b8389;
    font-size: 30px;
    background-color: #f1f1f1;
    transition: @primary-transition;

    &:hover {
      background-color: #e7e4e4;
      box-shadow: 0 1px 5px 1px #c2cbd2;
      border: 1px dotted #999;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.dia {
  width: 470px;
  height: 410px;

  .diaBox {
    //margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
