.h52PDF {

  .demo {
    width: 500px;
    height: 800px;
    box-sizing: border-box;
    background: url("../../../common/images/mxxz.jpg") 50%;

    .box {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ebebeb;
    }
  }

  .buttons {
    display: flex;
    margin-top: 20px;
  }
}
