.image {
  width: 100%;
  height: 100px;

  :global {
    .ant-upload-list-item-uploading-text {
      //display: none;
    }

    .ant-upload-list-item-card-actions-btn {
      border: 0 solid transparent !important;
      background-color: transparent !important;
    }
    .ant-upload{
      color: #949eac;
    }
    .ant-upload-select{
      border-color: #bfcbd9 !important;
      &:hover{
        border-color: #8391a5 !important;
      }
    }
  }
}
